*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    background-color: black;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container{
    width: 1000px;
    height: 600px;
    display: flex;
}

.slider{
    min-width: fit-content;
    width: 700px;
    height: 600px;
    margin: auto;
    background-color: salmon;
    position: relative;
}

.library{
    width: 300px;
    height: 100%;
    position: relative;
    background-color: aqua;
}

img{
	display: none;
	width: 700px;
	height: 100%;
    object-fit: cover;
    object-position: center;
}

.controls{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    inset: 0;
}

.btn-top,.btn-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, .5);
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin: 1rem;
}

.btn-top:hover,.btn-bottom:hover{
    background-color: white;
}

.visible{
    display: block;
}

.hidden{
    visibility: hidden;
}